.text-red {
  color: $red;
}
.h7 {
  color: #2c3e50;
  font-size: 14px;
  font-weight: 400;
}
.text-weight-400 {
  font-weight: 400;
}
.text-weight-bold {
  font-weight: bold;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-14 {
  font-size: 14px;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-move {
  cursor: move;
}
.fs-7{
  font-size: 12px;
}
